<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SAMS</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous" />
    <link rel="stylesheet" href="studentdatabase.css" />
    <link rel="icon" href="/favicon.png" type="image/x-icon">
  </head>
  <body>
    <nav>
      <a href='/' class="logo">Student Attendance Management System</a>
      <ul>
        <li><a href='/home'>Home</a></li>
        <li><a href='/studentdatabase'>Student Database</a></li>
        <li><a href='/'>Take Attendance</a></li>
        <li><a href='/about'>README</a></li>
      </ul>
    </nav>
    <br/>
    <br/>
    <div id="app"></div>
    <script src="/main.js"></script>
  </body>
</html>